@import url('https://fonts.cdnfonts.com/css/moonstrike');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #00563f;
}

.container{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container h1{
    font-family: 'Moonstrike', sans-serif;
    font-size: 50px;
    color: #f1f1f1;
    margin-bottom: 20px;
}

.container h1 a{
    text-decoration: none;
    color: #f1f1f1;
}

.loginForm{
    color: #f1f1f1;
    width: 100%;
    padding: 40px;
    background: #1a2421;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}   

.loginForm input{
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    outline: none;
}

.loginForm button{
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    outline: none;
    background: #00563f;
    color: #f1f1f1;
    cursor: pointer;
    transition: 0.3s ease all;
}

.loginForm button:hover{
    background-color: #f1f1f1;
    color: #00563f;
    box-shadow: 10px 5px 5px 0 rgba(13, 19, 12, 0.664);
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    
    .loginForm {
        width: 90%;
    }
    
    .loginForm input,
    .loginForm button {
        width: 100%;
    }
}