*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #282e28;
    color: #f1f1f1;
}

.navbar{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    background-color: #00563f;
}

.navbar a{
    color: #333;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    transition: 0.3s ease all;
}

.navbar a:hover{
    color: #f1f1f1;
    text-decoration: underline;
}

.content{
    height: 100%;
    margin: 20px;
    padding: 20px;
    background: #333;
}

.postbar{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #00563f;
    border-radius: 12px;
    color: #f1f1f1;
}

.postContent{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    color: #f1f1f1;
}

.postContent p{
    margin-bottom: 10px;
}


.thread{
    justify-content: space-between;
    padding: 20px;
    margin: 30px;
    background-color: #00563f;
    border-radius: 12px;
    color: #f1f1f1;
}

.threadBar{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #00563f;
    border-radius: 12px;
    color: #f1f1f1;
    
}

.threadOptions a{
    color: #f1f1f1;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
    background-color: red;
    box-shadow: #333 5px 5px 5px;
    transition: 0.3s ease all;
}

.threadOptions a:hover{
    color: #333;
    background-color: #f1f1f1;
}


.threadContent{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    color: #f1f1f1;
}

.addThread{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    color: #f1f1f1;
    box-shadow: #333 0px 0px 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.addThread textarea{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    color: black;
    border: none;
    box-shadow: #333 0px 0px 10px;
    width: 90%;
    max-width: 90%;
    min-width: 70%;
    height: 100%;
    min-height: 100px;
    font-size: 1.5rem;

}

.addThread button{
    padding: 12px;
    margin: 10px;
    font-size: larger;
    border-radius: 12px;
    color: #f1f1f1;
    background-color: #00563f;
    border: none;
    box-shadow: #282e28 6px 6px 15px;
    cursor: pointer;
    transition: 0.3s ease all;
}

.addThread button:hover{
    background-color: #f1f1f1;
    color: #333;
}



